*{
    padding: 0;
    margin: 0;
}
.navbar{
    width: 100%;
    height: 70px;
    border-bottom: 4px solid orange;
    background-color:maroon;

}
.nav-link{
    margin-left: 100px;
    color: aliceblue;
}
.btn{
    margin-left: 100px;
}
.navbar-brand{
    font-size: xx-large;
    font-family:benard mt condensed ;
    color: red;
}
.form-control{
    margin-left: 100px;
}
.image{
    border-radius: 15%;
    height: 300px;
    width: 250px;
}
.frm-2 input{
    width: 330px;
}
.form{
    margin-left: 35%;
    margin-top: 120px;
}
.fgt{
    margin-left: 80px;
}
.bttn button{
    background-color: red;
    width: 330px;
    height: 40px;
    border-radius: 10px;
}
}
.const{
    margin-left: 100px;
    margin-top: 100px;
}
.fa-brands{
    weight:50px
}
.image-2{
    border-radius: 15%;
    height: 300px;
    width: 350px;
}
.image-3{
    width: 100px;
    height: 80px;
}
.image-4{
    width: 100px;
    height: 80px;
    margin-top: 30px;
}